* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 4px black;
}

header {
    display: flex;
    justify-content: center;
    background: rgb(8,24,69);
    background: linear-gradient(270deg, rgba(8,24,69,1) 0%, rgba(55,94,204,1) 100%);
}

main {
    display: flex;
}

h1 {
    color: white;
    padding: 1rem;
}

.created-div {
    font-size: 3rem;
}

.weather-icon-img {
    width: 40px;
    height: 40px;
    
}

.inline-header {
    display: inline;
    padding-right: 1.5rem;
}

span {
    font-size: 1.2rem;
}

.right-side-container {
    background: grey;
    border: 3px solid black;
    
}

#fiveDayContainer {
    display: flex;
    justify-content: center;
 
}

.daily-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    padding: 1rem;
    margin: 1rem;
}

.hide-me {
    display: none;
}

.five-day-header {
    margin-left: 4rem;
}